#screen{
    /* border: 1px double cyan; */
    width: 50%;
    height: 30%;
    margin: 0 auto;
    position: relative;
}

#map{
    transform: scale(4,4);
    position: relative;
    margin: 0 auto;
    width: 112px;
}


#playerinfocontainer{
    border: 1px dotted blue;
    padding: .1rem;
    margin-top: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.playercard{
    border: 1px solid black;
    display: inline-block;
    position: relative;
    font-size: medium;
    width: 10rem;
    margin: 1rem;
}

#game{
    margin-top: 20%;
  }